-e . 
vllm>=0.11.2
scispacy==0.6.2	
python-dotenv==1.2.1
sentence_transformers==5.1.1
schemic==1.1.0
outlines==1.2.8
groq==0.33.0
obonet==1.1.1
pandas==2.3.3
openpyxl==3.1.5
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_lg-0.5.4.tar.gz